.dropdown-item{
  overflow: hidden;
  text-overflow: ellipsis;
  user-select: none;
  cursor: pointer;
  padding: 8px 16px;
  color: #444 !important;
  &:active,
  &:focus{
    background: #eee;
  }
  &.dropdown-item-user{
    height: 82px;
    background: #e8e8e8;
    padding: 16px;
    img{
      height: 50px;
      float: left;
      margin-right: 12px;
      border-radius: 50%;
    }
    span{
      overflow: hidden;
      text-overflow: ellipsis;
      color: #242424;
      display: block;
      &.displayName{
        font-size: 16px;
        font-weight: 500;
      }
      &.email{
        color: #444444;
        font-size: 13px;
        font-weight: 400;
      }
    }
  }
}
.dropdown-divider{
  margin: 0;
}
