<mat-toolbar color="primary" #navbar>
  <mat-toolbar-row>
    <!--signal_wifi_off-->
    <!--account_circle-->
    <button mat-icon-button
            matTooltipPosition="right"
            matTooltip="Toggle sidebar"
            (click)="ui.openSidebarLeft()">
      <mat-icon>menu</mat-icon>
    </button>

    <div *ngIf="navbarWidth >= 768">
      <app-nav-items></app-nav-items>
    </div>

    <span class="nav-spacer"></span>

    <button mat-button
            class="logo"
            routerLink="/">
      <mat-icon>fingerprint</mat-icon>
      <span>Ecliptic</span>
    </button>

    <span class="nav-spacer"></span>

    <!-- when logged out -->
    <button *ngIf="!(auth.user$ | async)"
            mat-button
            routerLinkActive="active"
            routerLink="/login">
      Login
    </button>

    <!-- when logged in -->
    <button *ngIf="auth.user$ | async"
            mat-icon-button
            [matMenuTriggerFor]="settingsMenu">
      <mat-icon>more_vert</mat-icon>
    </button>

    <button *ngIf="auth.user$ | async"
            mat-icon-button
            [matTooltipPosition]="ui.sidebarRightState ? 'below' : 'left'"
            matTooltip="Toggle friends"
            (click)="ui.toggleSidebarRight(); updateNavbarWidthMultipleTimes()">
      <mat-icon>people</mat-icon>
    </button>

    <!-- settings menu (hidden by default) -->
    <mat-menu #settingsMenu="matMenu">
      <button *ngIf="auth.user$ | async as user" mat-menu-item [routerLink]="['/profile', user.uid]">
        <mat-icon>account_circle</mat-icon> Profile
      </button>
      <button mat-menu-item routerLink="/settings">
        <mat-icon>settings</mat-icon> Settings
      </button>
      <button mat-menu-item [matMenuTriggerFor]="interestsMenu">
        <mat-icon>favorite</mat-icon> Interests
      </button>
      <button mat-menu-item routerLink="/feedback">
        <mat-icon>question_answer</mat-icon> Give feedback
      </button>
      <button mat-menu-item routerLink="/help">
        <mat-icon>help</mat-icon> Help
      </button>
      <button mat-menu-item (click)="onSignOut()">
        <mat-icon>arrow_back</mat-icon> Sign-out
      </button>
    </mat-menu>

    <!-- settings menu > interests -->
    <mat-menu #interestsMenu="matMenu">
      <button mat-menu-item>Crypto currency</button>
      <button mat-menu-item>Learning environment</button>
      <button mat-menu-item>Habit tracker</button>
      <button mat-menu-item>Money insights</button>
      <button mat-menu-item>About the developer</button>
    </mat-menu>

  </mat-toolbar-row>

  <!-- mobile -->
  <mat-toolbar-row *ngIf="navbarWidth < 768" class="mobile-toolbar-row mat-toolbar-row-small">
    <app-nav-items></app-nav-items>
  </mat-toolbar-row>
</mat-toolbar>

<mat-toolbar class="second-toolbar" color="primary">
  <mat-toolbar-row class="mat-toolbar-row-small">

    <button mat-button>
      <mat-icon>account_balance_wallet</mat-icon>
    </button>
    <button mat-button>
      <mat-icon>attach_money</mat-icon>
    </button>
    <button mat-button>
      <mat-icon>trending_up</mat-icon>
    </button>

  </mat-toolbar-row>
</mat-toolbar>
