@keyframes hideNav {
  0%   { opacity: 1; display: block }
  99%  { opacity: 0; display: block }
  100% { opacity: 0; display: none  }
}
@keyframes showNav {
  0%   { opacity: 0; display: none  }
  30%  { opacity: 0; display: block }
  100% { opacity: 1; display: block }
}

@media (max-width: 767px){
  .animate-mobile{
    display: block;
    animation: .5s linear;
  }
  .closed {
    transition: max-height .5s cubic-bezier(0, 0, 0, 1); //fast start & slow end
    animation-name: hideNav;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
  }
  .open {
    transition: max-height .5s cubic-bezier(1, 0, 1, 1); //slow start & fast end
    animation-name: showNav;
    opacity: 1;
    max-height: 1200px;
  }
}


//bootstrap overrides
.navbar{
  user-select: none;
  cursor: default;
  background: #222;
  color: #e8e8e8;
  box-shadow:
    0 3px 1px -2px rgba(0, 0, 0, .2 ),
    0 2px 2px 0    rgba(0, 0, 0, .14),
    0 1px 5px 0    rgba(0, 0, 0, .12);
  z-index: 2;
  //letter-spacing: 2px;
  .navbar-brand {
    cursor: pointer;
    letter-spacing: 2px;
    &.mat-icon-button{
      width: 32px;
      height: 32px;
      line-height: 16px;
      top: -3px;
      outline: 0;
    }
  }

  .navbar-toggler{
    border-color: transparent;
    outline: none;
  }
  .nav-item{
    &.active{
      .nav-link{
        color: #ffffff;
        font-weight: bold;
      }
    }
    .nav-link{
      cursor: pointer;
    }
    //&.dropdown
  }

}

// div that contains the mobile-menu-toggle & mobil-user-dropdown
.user-and-menu-mobile{
  display: flex;
}

