// main toolbar styling

.mat-toolbar {
  position: relative;
  z-index: 10;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);



  // toolbar row in the main toolbar
  .mat-toolbar-row {
    button.logo {
      transform: scale(1.4);
    }

    // if the toolbar is the mobile-toolbar
    &.mobile-toolbar-row {
      z-index: 11;
    }
    .nav-spacer {
      flex: 1 1 auto;
    }
  }

  // class added to mobile & second (interest) menu
  .mat-toolbar-row-small {
    padding: 0;
    height: 36px;
    app-nav-items {
      width: 100%;
    }
  }

  // for interest-toolbar (second toolbar)
  &.second-toolbar {
    z-index: 9;
    min-height: initial;

    // all toolbar rows inside the second toolbar
    .mat-toolbar-row {
      button,
      /deep/ button {
        border-radius: 0;
        flex: 1 1 auto;
      }
    }
  }
}

