
<div class="outer-container">
  <div class="container">
    <div class="row">
      <div class="col-12">


        <div class="inner-container">
          <div  *ngIf="auth.user$ | async as user; else sessionOnlyTemplate">
            <aside *ngFor="let message of (messages$ | async) | orderByDate | reverse | slice:0:5">
              <div class="alert alert-dismissible fade show"
                   role="alert"
                   [ngClass]="{
           'alert-info':      message.style === 'info',
           'alert-warning':   message.style === 'warning',
           'alert-danger':    message.style === 'danger',
           'alert-success':   message.style === 'success',
           'alert-primary':   message.style === 'primary',
           'alert-secondary': message.style === 'secondary',
           'alert-light':     message.style === 'light',
           'alert-dark':      message.style === 'dark'
         }">
                <!--<strong>{{ message.type }}!</strong>-->
                {{ message.content }}
                <button *ngIf="message.type === 'user' && !message.canNotBeDismissed"
                        type="button"
                        class="close"
                        (click)="removeUserMessage(user, message)">
                  <span aria-hidden="true">&times;</span>
                </button>
                <button *ngIf="message.type === 'local' && !message.canNotBeDismissed"
                        type="button"
                        class="close"
                        (click)="removeLocalMessage(message)">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            </aside>
          </div>

          <ng-template #sessionOnlyTemplate>
            <aside *ngFor="let message of (sessionMessages$ | async) | orderByDate | reverse | slice:0:5">
              <div class="alert alert-dismissible fade show"
                   role="alert"
                   [ngClass]="{
           'alert-info':      message.style === 'info',
           'alert-warning':   message.style === 'warning',
           'alert-danger':    message.style === 'danger',
           'alert-success':   message.style === 'success',
           'alert-primary':   message.style === 'primary',
           'alert-secondary': message.style === 'secondary',
           'alert-light':     message.style === 'light',
           'alert-dark':      message.style === 'dark'
         }">
                <!--<strong>{{ message.type }}!</strong>-->
                {{ message.content }}
                <button *ngIf="message.type === 'local' && !message.canNotBeDismissed"
                        type="button"
                        class="close"
                        (click)="removeLocalMessage(message)">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            </aside>
          </ng-template>

        </div>

      </div>
    </div>
  </div>
</div>





