
<div *ngIf="auth.user$ | async as user">
  <p>
    toast-messages works!
    <input #content>
    <select #style>
      <option value="info">info</option>
      <option value="danger">danger</option>
      <option value="success">success</option>
    </select>
    <button (click)="addUserMessage(user, style.value, content.value)">addGlobal</button>
    <button (click)="addLocalMessage(style.value, content.value)">addLocalMessage</button>
  </p>
  <aside *ngFor="let message of $messages | async | reverseToasts | orderById">
    <div class="notification"
         *ngIf="!message.dismissed"
         [ngClass]="{
           'is-info': message.style == 'info',
           'is-danger': message.style == 'danger',
           'is-success': message.style == 'success'
         }">
      <button (click)="dismissUserMessage(user, message.$id)">x</button>
      msg-Content: {{ message.content }} <br>
      msg-Type: {{ message.type }} <br>
      msg-Style: {{ message.style }} <br>
      msg-ID: {{ message.$id }} <br>
      msg-userId: {{ message.userId }}
      <hr>
    </div>
  </aside>
</div>
