.user-dropdown{
  .dropdown-toggle{
    cursor: pointer;
  }
  .dropdown-toggle::after{
    border-left: 0;
    border-right: 0;
  }
  img{
    height: 36px;
    margin: -8px 0 -8px 8px;
    border-radius: 4px;
  }
  .dropdown-menu{
    background: #ffffff;
    border: 1px solid rgba(0,0,0,.2);
    // color: #000;
    border-radius: 2px;
    box-shadow: 0 2px 10px rgba(0,0,0,.2);
    right: 0;
    left: auto !important;
    width: 300px;
    padding: 0;
  }
}

@media (max-width: 360px){ .user-dropdown{ .dropdown-menu{width: 100%; } } }

//@media (max-width: 360px){ .user-dropdown{ .dropdown-menu{width: 304px; } } }
//@media (max-width: 350px){ .user-dropdown{ .dropdown-menu{width: 294px; } } }
//@media (max-width: 340px){ .user-dropdown{ .dropdown-menu{width: 284px; } } }
//@media (max-width: 330px){ .user-dropdown{ .dropdown-menu{width: 274px; } } }
//@media (max-width: 320px){ .user-dropdown{ .dropdown-menu{width: 264px; } } }
//@media (max-width: 310px){ .user-dropdown{ .dropdown-menu{width: 254px; } } }
//@media (max-width: 300px){ .user-dropdown{ .dropdown-menu{width: 244px; } } }
//@media (max-width: 290px){ .user-dropdown{ .dropdown-menu{width: 234px; } } }
//@media (max-width: 280px){ .user-dropdown{ .dropdown-menu{width: 224px; } } }
//@media (max-width: 270px){ .user-dropdown{ .dropdown-menu{width: 214px; } } }
//@media (max-width: 260px){ .user-dropdown{ .dropdown-menu{width: 204px; } } }
