/* --== Container of all content (including the side navs) ==-- */
.mat-sidenav-container {
  position: absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  .mat-sidenav{
    box-shadow: 0 8px 10px -5px rgba(0,0,0,.2), 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12);
  }
}


/* --== routAnimation container ==-- */
main#routeAnimation{
  overflow-x: hidden; // prevent Collapsing margins (http://www.w3.org/TR/css3-box/#collapsing-margins)
  position: relative;
  padding-bottom: 40px; // prevent box-shadows from being cut-off at he bottom
  & > *{
    display: block;
  }
}


/* defaults */
.mat-icon-button,
button,
/deep/ button {
  outline: none !important;
}
/deep/ .mat-icon-small {
  margin-right: 8px !important;
  width: 12px !important;
  height: 12px !important;
  font-size: 12px;
}

/* handy classes */
hr.spacing,
/deep/ hr.spacing {
  border: 0;
}
hr.no-margin,
/deep/ hr.no-margin {
  margin: 0;
}
.block,
/deep/ .block {
  display: block;
  border-radius: 0;
  width: 100%;
}
.cut-text,
/deep/ .cut-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.no-select,
/deep/ .no-select {
  user-select: none;
}

.flex-spacer,
/deep/ .flex-spacer {
  flex: 1 1 auto;
}

.mat-shadow,
/deep/ .mat-shadow {
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}
