/* --== Container of all content (including the side navs) ==-- */
.mat-sidenav-container {
  position: absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
}


/* --== routAnimation container ==-- */
main#routeAnimation{
  overflow-x: hidden; // prevent Collapsing margins (http://www.w3.org/TR/css3-box/#collapsing-margins)
  position: relative;
  padding-bottom: 40px; // prevent box-shadows from being cut-off at he bottom
  & > *{
    display: block;
  }
}


/* defaults */
.mat-icon-button,
button,
/deep/ button {
  outline: none !important;
}
