




<mat-sidenav-container style="position: absolute;top:0;left:0;right:0;bottom:0;">
  <mat-sidenav [opened]="false" mode="over" #sidenav> <!--mode="side"-->
               <!--mode="push"-->
               <!--opened="false"-->
               <!--[fixedInViewport]="0"-->
    <app-sidebar></app-sidebar>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-navbar (onToggleSidenav)="sidenav.toggle()"></app-navbar>
    <main id="routeAnimation" [@routeAnimation]="getComponentDepth(myOutlet)">
      <router-outlet #myOutlet="outlet"></router-outlet>
    </main>
    <app-toast-messages></app-toast-messages>
    <!--<button mat-button block (click)="sidenav.toggle()">SIDENAV TEST TEST TEST TEST TEST TEST TEST toggle</button>-->
  </mat-sidenav-content>
</mat-sidenav-container>








<!--<app-navbar></app-navbar>
<main id="routeAnimation" [@routeAnimation]="getComponentDepth(myOutlet)">
  <router-outlet #myOutlet="outlet"></router-outlet>
</main>
<app-footer></app-footer>-->
