.mat-dialog-title{

}
.dropzone {
  min-width: 240px;
  max-width: 100%;
  border: 3px dashed #e8e8e8;
  margin-bottom: 12px;
  text-align: center;
  padding: 18px;
  &.hovering {
    border: 3px dashed #f44336;
  }
  h3 {
    font-size: 18px;
  }
  p {
    font-size: 14px;
    color: #777;
  }
  input#profileUpload{
    display: none;
    //outline: none;
  }
  .file-label{
    background: #f44336;
    display: block;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
    cursor: pointer;
    padding: 4px;
    color: #fff;
    border-radius: 2px;
    &:active{
      box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
    }
  }
}
.completed {
  margin: 24px 0;
  img {
    //max-width: 100%;
  }
}
button {
  width: 100%;
  outline: none;
}
